node_modules
npm-debug.log
yarn-error.log

/dist/
/build/
artifact

assets/css/build
assets/js/build

*.log
*.map
/vendor/

languages/raft.pot

.DS_Store
.phpunit.result.cache
Thumbs.db

.vscode/
.idea/
*.sublime-*

*.original
*.backup
