.wp-block-search {

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {

		@extend %input-base;
	}

	.wp-block-search__button {
		background: var(--wp--preset--color--edelherzig-accent);
		color: var(--wp--preset--color--edelherzig-fg-alt);
		border-color: var(--wp--preset--color--edelherzig-accent);
		border-radius: 5px;
	}
}
