.wp-block-table {

	&.is-style-stripes tbody tr:nth-child(odd) {
		background-color: var(--wp--preset--color--edelherzig-bg-alt);
	}

	thead {
		border-bottom: 2px solid;
	}

	tfoot {
		border-top: 2px solid;
	}

	figcaption {
		opacity: 0.6;
	}
}
