%input-base {
	border-radius: 5px;
	color: var(--wp--preset--color--edelherzig-fg);
	background: var(--wp--preset--color--edelherzig-bg);
	border: 2px solid var(--wp--preset--color--edelherzig-fg);
}

@mixin button-base {
	border: 0;
	box-shadow: none;
	font-weight: 600;
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--50);
	border-radius: 5px;
	font-size: var(--wp--preset--font-size--normal);
}

%button {

	@include button-base;
	color: var(--wp--preset--color--edelherzig-fg-alt);
	background: var(--wp--preset--color--edelherzig-accent);
	border-color: var(--wp--preset--color--edelherzig-accent);
}
